/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* common class and styles */

h2 {
  font-size: 48px;
  font-weight: 700;
  color: #001931;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 120px;
}

.btn {
  color: white;
  background-color: #469165;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

.btn:hover {
  background-color: #21914f;
}

.btn2 {
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  padding: 12px 16px;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

.btn2:hover {
  border: 1px solid #469165;
  background-color: #469165;
}

.greenText {
  font-size: 16px;
  font-weight: 500;
  color: #469165;
}

.green {
  color: #2fab64;
}

/* other class and styles */

nav {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 16px 120px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

ul li a {
  text-decoration: none;
  color: black;
}

ul li a:hover {
  color: rgb(49, 49, 49);
}

#hero .hero-container {
  background-image: url("../assets/hero-bg.png");
  height: 674px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 32px;
}

#hero .content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

#hero .content .iconText {
  background-color: white;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  border-radius: 999px;
}

#hero .content .iconText img {
  height: 16px;
  width: 16px;
}

#hero .content h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
}

#hero .content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.heroCta {
  display: flex;
  gap: 16px;
}
