/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* common class and styles */

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 120px;
}

.btn {
  color: white;
  background-color: #30b868;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #21914f;
}

/* other class and styles */

nav {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 16px 120px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

ul li a {
  text-decoration: none;
  color: black;
}

ul li a:hover {
  color: rgb(49, 49, 49);
}
